<!DOCTYPE html>
<html>
    <head>
        <%- include('../components/bootstrap') -%>
        <%- include('../components/title') -%>
    </head>
   
    <body>
        <%- include('../components/header') -%>

    </body>
</html>