<style>
  .box-header{
    padding-top: 20px;
  }
</style>
<div class="container box-header">
  <h2>Coffee Shop Management</h2>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/">เพิ่มรายการออร์เดอร์</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/menu">เพิ่มรายการสินค้า</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/billday">ตรวจสอบยอดขายประจำวัน</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
        >รวมยอดขายทั้งหมด</a
      >
    </li>
  </ul>
  <hr>
</div>
